language: php

# factor between 1 and ~50
#  10 seems okay for travis-CI
env: BITCOINLIB_EXTENSIVE_TESTING=10

php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm

install:
 - "composer update"

script:
 - ./vendor/bin/phpunit -c ./build/
 - ./vendor/bin/phpcs --standard=./build/phpcs.xml -n -a ./src/
