<phpunit>
  <testsuites>
    <testsuite name="All">
      <file>tests/BitcoinLibTest.php</file>
      <file>tests/RawTransactionTest.php</file>
      <file>tests/ElectrumTest.php</file>
      <file>tests/BIP32CoreTest.php</file>
      <file>tests/BIP32Test.php</file>
    </testsuite>
  </testsuites>
</phpunit>
